<%= form_with(model: visit) do |form| %>
  <% if visit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
        <% visit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_agent, style: "display: block" %>
    <%= form.text_field :user_agent %>
  </div>

  <div>
    <%= form.label :ip_address, style: "display: block" %>
    <%= form.text_field :ip_address %>
  </div>

  <div>
    <%= form.label :host, style: "display: block" %>
    <%= form.text_field :host %>
  </div>

  <div>
    <%= form.label :link_id, style: "display: block" %>
    <%= form.text_field :link_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
