<div id="<%= dom_id visit %>">
  <p>
    <strong>User agent:</strong>
    <%= visit.user_agent %>
  </p>

  <p>
    <strong>Ip address:</strong>
    <%= visit.ip_address %>
  </p>

  <p>
    <strong>Host:</strong>
    <%= visit.host %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= visit.link_id %>
  </p>

</div>
