<%= form_for @link do |f| %>
  <div data-controller="select" data-select-show-if-value="PrivateLink">
    <div class="form-group">
     <%= f.label :public_url %>
     <%= f.text_field :public_url %>
    </div>  
    <%= f.label :type %>
    <%= f.select :type, options_for_select(Link.subclasses.map { |subclass| [getSubclassTypeName(subclass.to_s), subclass] }, prompt: 'Select Link Type'), {allow_blank: true},{data: {select_target:"input", action:"change->select#toggle"}} %>
    <div data-select-target="password" class="form-group">
       <%= f.label :password %>
       <%= f.password_field :password %>
    </div>
    <div data-select-target="date" class="form-group" hidden>
      <%= f.datetime_field :expiration_date%>
    </div>
    <%= f.submit 'Create Link' %>
  </div>
<% end %>
