<div id="<%= dom_id link %>">
  <td>
    <%= link.public_url %>
  </td>

  <td>
    <%= link.slug %>
  </td>
  
  <td>
    <%= link.type %>
  </td>

  <div class="link">
    <td>
      <% if link.type == "TemporaryLink" %>
          <%= link.expiration_date %>
      <% end %>
    </td>
  </div>

  <td>
    <%= link.active %>
  </td>

</div>
