<div id="<%= dom_id link %>">
  <p>
    <strong>Public url:</strong>
    <%= link.public_url %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= link.slug %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= link.password %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= link.type %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= link.created_at %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= link.expiration_date %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= link.active %>
  </p>

</div>
