<div id="<%= dom_id link %>">
  <p>
    <strong>Public url:</strong>
    <%= link.public_url %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= link.slug %>
  </p>
  
  <p>
    <strong>Type:</strong>
    <%= link.type %>
  </p>

  <div class="link">
    <% if link.type == "TemporaryLink" %>
      <p>
        <strong>Expirates at: </strong>
        <%= link.expiration_date %>
      </p>
    <% end %>
  </div>
  <p>
    <strong>Created at:</strong>
    <%= link.created_at %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= link.active %>
  </p>

</div>
